{% extends 'navBar.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Welcome to Debatr! {% endblock %}
{% block content %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href ="{% static 'css/style.css' %}">
    <body>
        <div class = "login-box">
            <h3> Welcome to Debatr! </h3>
            <div class = "bottom-border">
            </div>
            <br/>
            <p>Fueling intelligent discourse around the world</p>
            <br/>
            {% if not user.is_authenticated %}
            <form action = "{% url 'login' %}">
                <button class = "btn btn-primary" type = "submit">Log In</button>
            </form>
            <br/>
            <small><a href = "{% url 'join' %}">Not a member? Join today!</a></small>
            {% else %}
            <p>Hello, <b>{{user.username}}</b>!</p>
            <small><a href = "{% url 'getting-started' %}">New to Debatr? Here's how to get started</a></small>
            <br/>
            <br/>
            <form action = "{% url 'logout' %}">
                <button class = "btn btn-primary" type = "submit">Log Out</button>
            </form>
            {% endif %}
        </div>
        <br/>
        <br/>
        {% if user.is_authenticated %}
        <img src = {{ user.profile.image.url }} style="background-size: cover; border-radius: 50% 50% 50% 50%; width: 85px; height: 90px;" class="rounded-circle">
        <form method="post" class="post-form">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn btn-primary" type="submit">Share</button>
        </form>
        <div class="container" style="display: flex; flex-direction: column; max-height: 100vh; overflow-y: auto; margin-top: 20px; bottom: 0;" id="container-two">
            <ul id="post-items">
            {% for post in recent_feed %}
                {% if post.author != user %}
                <div class="alert alert-secondary">
                    <img style="display: inline-block; float: left; margin-right: 5px; background-size: cover; border-radius: 50% 50% 50% 50%; width: 45px; height: 50px;" class="rounded-circle" src="{{ post.author.profile.image.url }}">
                    <a href="{% url 'other-profile' username=post.author.username %}" style="text-decoration: none; color: inherit;"><strong style="display: inline-block;">{{ post.author.username }}</strong></a>
                    {% if post.post_type %}
                        <small style="float: right; font-style: italic;">{{ post.get_post_type_display }}</small>
                    {% endif %}
                    <br/>
                    <p>{{ post.content }} {% if post.post_type == 'ND' %}<a href="{% url 'spectate' thread_id=post.post_thread.id %}" style="text-decoration: none; color: blue;">Spectate Now</a>{% endif %}</p>
                    <small>{{ post.date_posted }}</small>
                </div>
                {% else %}
                <div class="alert alert-primary">
                    <img style="display: inline-block; float: left; margin-right: 5px; background-size: cover; border-radius: 50% 50% 50% 50%; width: 45px; height: 50px;" class="rounded-circle" src="{{ post.author.profile.image.url }}">
                    <a href="{% url 'other-profile' username=post.author.username %}" style="text-decoration: none; color: inherit;"><strong style="display: inline-block;">{{ post.author.username }}</strong></a>
                    {% if post.post_type %}
                        <small style="float: right; font-style: italic;">{{ post.get_post_type_display }}</small>
                    {% endif %}
                    <br/>
                    <p>{{ post.content }} {% if post.post_type == 'ND' %}<a href="{% url 'spectate' thread_id=post.post_thread.id %}" style="text-decoration: none; color: blue;">Spectate Now</a>{% endif %}</p>
                    <small>{{ post.date_posted }}</small>
                </div>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </body>
</head>

</html>

{% if user.is_authenticated %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
<script>

    //global timer
     var myTimer;
    // ajax script to update posts on submit

    $(document).on('submit', '.post-form', function(event){
    // takes class acknowledge-form, need to get instance to get id which contains notification
        event.preventDefault();
        var form = $(this);
        var post = $(this).serializeArray()[1].value;
        var type = $(this).serializeArray()[2].value;
        console.log(type);
        console.log("post: " + post + " submitted");

        // pass to create_comment to handle real-time add to DOM and DB saving
        create_post(post, form, type)
    });

    function create_post(post, form, type){
        console.log("post being created")
        $.ajax({
            url: "{% url 'home' %}",
            type: "POST",
            data: {'post': post, 'type': type, 'csrfmiddlewaretoken':$('[name=csrfmiddlewaretoken]').val()},

            //on success, save to DB and add to DOM; make sure not empty
            success: function() {
                if(post){
                 //reset timer, execute query to fetch recent posts including one just posted
                   clearTimeout(myTimer);
                   executeQuery();

                }
                form[0].reset();
                console.log("success");
            },
            error: function(xhr,err){
                console.log(xhr.status + ": " + xhr.responseText);
            }

        });
    };
    //auto-fetch new messages every 15 seconds, reset on user submit post, add to DOM
     function executeQuery() {
      $.ajax({
        url: '{% url 'home' %}',

        success: function(data) {
            console.log('fetch success');
            for(var i = 0; i < data.length; i++){
                var cur = data[i].fields;
                console.log(cur);
                var timestamp = cur.date_posted;
                var formattedTime = moment(timestamp).format('MMM Do YYYY, h:mm a');
                // vars for dynamic django urls
                var url = '{% url 'other-profile' username="args" %}';
                var debLink = '';
                if(cur.post_thread){
                    var specUrl = '{% url 'spectate' thread_id="args" %}';
                    specUrl = specUrl.replace("args", cur.post_thread);
                    debLink = '<a href="' + specUrl + '" style="text-decoration: none; color: blue;">' + 'Spectate Now' + '</a>';
                }
                if(cur.username != '{{ user.username }}'){
                    url = url.replace("args", cur.username);
                    console.log(url);
                    $('#post-items').prepend('<div class="alert alert-secondary">' + '<img style="display: inline-block; float: left; margin-right: 5px; background-size: cover; border-radius: 50% 50% 50% 50%; width: 45px; height: 50px;" class="rounded-circle" src=' + '"' + cur.image +'"' + '>' +
                    '<a href="' + url + '" style="text-decoration: none; color: inherit;">' + '<strong style="display: inline-block;">' + cur.username + '</strong>' + '</a>' + '<small style="float: right; font-style: italic;">' + cur.post_type + '</small>' + '<p>' + cur.content + ' ' + debLink + '</p>' +
                     '<small>' + formattedTime + '</small>' + '</div>');
                } else {
                    url = url.replace("args", '{{ user.username }}');
                    $('#post-items').prepend('<div class="alert alert-primary">' + '<img style="display: inline-block; float: left; margin-right: 5px; background-size: cover; border-radius: 50% 50% 50% 50%; width: 45px; height: 50px;" class="rounded-circle" src=' + '"' + cur.image +'"' + '>' +
                    '<a href="' + url + '" style="text-decoration: none; color: inherit;">' + '<strong style="display: inline-block;" href=url>' + cur.username + '</strong >' + '</a>' + '<small style="float: right; font-style: italic;">' + cur.post_type + '</small>' + '<p>' + cur.content + ' ' + debLink + '</p>' +
                     '<small>' + formattedTime + '</small>' + '</div>');
                }
            }
        }
      });
      setTimeout(executeQuery, 15000);
    }

     $(document).ready(function() {
      // run the first time; all subsequent calls will take care of themselves
      clearTimeout(myTimer);
      myTimer = setTimeout(executeQuery, 15000);
    });

</script>
{% endif %}

{% endblock %}