{% extends 'navBar.html' %}
{% load static %}
{% block title %} {{ user.username }}'s Profile {% endblock %}
{% block content %}
<br/>
<img src = "{{ user.profile.image.url }}" class = "rounded-circle" style="margin-left: auto; margin-right: auto; display: block; width: 15%; margin-bottom: 30px; background-size: cover; border-radius: 50% 50% 50% 50%; width: 275px; height: 280px;">
<form action = "{% url 'update-profile' %}">
    <button class = "btn btn-primary" type = "submit" style="display: inline-block;">Update Profile/User Info</button><strong style="float: right;">Followers: {{ follower_count }}</strong>
    <br/>
    <strong style="float: right;">Following: {{ following_count }}</strong>
</form>
<br/>
<br/>
<h3>About Me</h3>
<div class="bottom-border">
</div>
<br/>
<div class="container" style="height: 35vh; overflow-y: auto;">
{% if user.profile.bio is not None and user.profile.bio != "" %}
{{ user.profile.bio }}
{% else %}
<p style="font-style: italic;"> There's nothing here... </p>
{% endif %}
</div>
<div class="container" style="display: flex; flex-direction: column; max-height: 100vh; overflow-y: auto; margin-top: 20px; bottom: 0;" id="container-two">
    <ul id="post-items">
        {% for post in user_posts %}
            <div class="alert alert-primary">
                    <img style="display: inline-block; float: left; margin-right: 5px; background-size: cover; border-radius: 50% 50% 50% 50%; width: 45px; height: 50px;" class="rounded-circle" src="{{ post.author.profile.image.url }}">
                    <strong style="display: inline-block;">{{ post.author.username }}</strong>
                    {% if post.post_type %}
                        <small style="float: right; font-style: italic;">{{ post.get_post_type_display }}</small>
                    {% endif %}
                    <br/>
                    <p>{{ post.content }}</p>
                    <small>{{ post.date_posted }}</small>
            </div>
        {% endfor %}
    </ul>
</div>
<br/>
<h3>Closed Debates</h3>
<div class="bottom-border">
</div>
{% if not closed_debates %}
<small style="font-style: italic;">
    Theres nothing here...
</small>
{% else %}
<div class="container" style="display: flex; flex-direction: column; max-height: 60vh; overflow-y: auto; margin-top: 20px; bottom: 0;">
    {% for result in closed_debates %}
        {% if forloop.first %} <div class = "row"> {% endif %}
        <div class = "col-xs-4">
         <div class="card" style="width: 18rem; background-color: #ced0b7a1 !important; margin-right: 15px; margin-left: 15px; margin-bottom: 15px;">
            <div class="card-body">
                <strong><h3 class="card-title" style="text-align: center;">{{ result.topic }}</h3></strong>
                <img src = "{{ result.user_one.profile.image.url }}" class = "rounded-circle" style="background-size: cover; border-radius: 50% 50% 50% 50%; width: 85px; height: 90px;">
                <img src = "{{ result.user_two.profile.image.url }}" class = "rounded-circle" style="background-size: cover; border-radius: 50% 50% 50% 50%; width: 85px; height: 90px; float: right;">
                <br/>
                <strong style="float: left;">{{ result.user_one.username }}</strong>
                <strong style="float: right;">{{ result.user_two.username }}</strong>
                <br/>
                <br/>
                <a href="{% url 'spectate' thread_id=result.id %}" class="btn btn-primary" style="margin-left: 38%; margin-bottom: 5px;">View</a>
           </div>
         </div>
        </div>
     {% if forloop.counter|divisibleby:3 %} </div> <div class = "row"> {% endif %}
        {% if forloop.last %} </div> {% endif %}
    {% endfor %}
</div>
{% endif %}
<br/>
<h3>Live Debates</h3>
<div class="bottom-border">
</div>
{% if not open_debates %}
<small style="font-style: italic;">
    Theres nothing here...
</small>
{% else %}
<div class="container" style="display: flex; flex-direction: column; max-height: 60vh; overflow-y: auto; margin-top: 20px; bottom: 0;">
    {% for result in open_debates %}
        {% if forloop.first %} <div class = "row"> {% endif %}
        <div class = "col-xs-4">
         <div class="card" style="width: 18rem; background-color: #ced0b7a1 !important; margin-right: 15px; margin-left: 15px; margin-bottom: 15px;">
            <div class="card-body">
                <strong><h3 class="card-title" style="text-align: center;">{{ result.topic }}</h3></strong>
                <img src = "{{ result.user_one.profile.image.url }}" class = "rounded-circle" style="background-size: cover; border-radius: 50% 50% 50% 50%; width: 85px; height: 90px;">
                <img src = "{{ result.user_two.profile.image.url }}" class = "rounded-circle" style="background-size: cover; border-radius: 50% 50% 50% 50%; width: 85px; height: 90px; float: right;">
                <br/>
                <strong style="float: left;">{{ result.user_one.username }}</strong>
                <strong style="float: right;">{{ result.user_two.username }}</strong>
                <br/>
                <br/>
                <a href="{% url 'spectate' thread_id=result.id %}" class="btn btn-primary" style="margin-left: 38%; margin-bottom: 5px;">View</a>
           </div>
         </div>
        </div>
     {% if forloop.counter|divisibleby:3 %} </div> <div class = "row"> {% endif %}
        {% if forloop.last %} </div> {% endif %}
    {% endfor %}
</div>
{% endif %}

{% endblock %}